@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.custom-btn{
background-color: #FFBB00;
color: #332200;
font-weight: 700;
padding: 16px 32px;
border-radius: 8px;
}